:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --navyblue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --lightslate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navybluemodal-color: #2E2F4266;
    --grey-color: #2E2F42B2;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

 .container {
     width: 100%;
     padding: 0 15px;
     margin: 0 auto;
 }

   .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }



 /* ============================================== MOBILE ==================================================== */

 @media screen and (min-width: 428px) {
      .container {
          width: 428px;
      }
  }
 
 @media screen and (max-width: 767px) {
    .icon-our-strategy {
            display: none;
        }

        .third-headline {
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            color: var(--navyblue-color);
            line-height: 40px;
            letter-spacing: 0.045em;
            margin-bottom: 8px;
            text-align: center;
            align-content: center;
    
        }

        .list-section-two {
            display: flex;
            flex-direction: column;
            gap: 72px;
        
                }
        
               

      

 }

/* ================================================ TABLET ===================================================== */

 @media screen and (min-width: 768px) {
     .container {
         width: 768px;
     }
 }

/* ================================================NOT DESKTOP =============================================== */

 @media screen and (max-width: 1157px) {
 }
    

/* ================================================ DESKTOP ================================================== */

 @media screen and (min-width: 1158px) {
     .container {
         width: 1158px;
     }
 }