:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --navyblue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --lightslate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navybluemodal-color: #2E2F4266;
    --grey-color: #2E2F42B2;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    outline: 1px solid var(--cornflower-color) ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-menu {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
    display: inline-block;
}

.link {
    text-decoration: none;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}


.logo-text-studio {
    color: var(--navyblue-color);
}

.logo-textfooter-studio {
    color: var(--cloud-color);
}

.accent::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: var(--ocean-color);
}

.contact-link {
    color: var(--slate-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color var(--mytransition-duration) var(--mytransition-timing-function);
}

.contact-link:hover {
    color: var(--ocean-color);
}

.contact-link:focus {
    color: var(--ocean-color);

}

.nav-link {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    padding: 24px 0;
}

.accent {
    position: relative;
    transition: color var(--mytransition-duration) var(--mytransition-timing-function);
    color: var(--ocean-color);
}

.nav-link:hover {
    color: var(--ocean-color);
}

.nav-link:focus {
    color: var(--ocean-color);
}

.address {
    font-style: normal;
    padding: 24px 0;
}


.list-menu {
    display: flex;
    gap: 40px;
}

.list-address {
    display: flex;
    gap: 40px;
    margin-left: 332px;
}

.list-section-two {
    display: flex;
    gap: 24px;

}

.list-section-two-li {
    width: calc((100% - 72px) / 4);
}

.list-section-three {
    display: flex;
    gap: 24px;
}

.list-section-three-li {
    width: calc((100% - 48px) / 3);
}

.list-button {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px
}

.list-portfolio {

    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;

}

.link-portfolio {
    display: block;
    transition: box-shadow var(--mytransition-duration) var(--mytransition-timing-function);
}

.link-portfolio:hover,
.link-portfolio:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.pop-up {
    position: relative;
    overflow: hidden;
    transform: translateY(0%);
}
.pop-up-text {
    position: absolute;
    top: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    background-color: var(--iris-color);
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform var(--mytransition-duration) var(--mytransition-timing-function)
}

.link-portfolio:hover .pop-up-text{
    transform: translateY(0%);
}

.link-portfolio:focus .pop-up-text{
        transform: translateY(0%);
    }

.projects {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.list-portfolio-li {
    flex-basis: calc((100% - 48px) / 3);
}

.list-portfolio-li:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.list-team {
    display: flex;
    gap: 24px;

}

.main-section {
    display: flex;
    padding: 188px 0;
    background-color: var(--navyblue-color);
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main/people-office.jpg);
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section {
    background-color: var(--cloud-color);
}

.background-list {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    list-style: none;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    padding: 32px 0px;
    text-align: center;
}

.main-header {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    color: var(--white-color);
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero {
    display: box;
    align-items: center;
}

.order-service-button {
    color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: var(--iris-color);
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);

}

.order-service-button:hover {
    background-color: var(--ocean-color);
}

.order-service-button:focus {
    background-color: var(--ocean-color);
}

.second-headline {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-color);
    margin-bottom: 72px;

}

.section-three {
    padding-top: 0;
}

.third-headline {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--navyblue-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.cursor {
    cursor: pointer;
}

.button-text {
    color: var(--iris-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--cloud-color);
    padding: 12px 24px;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-text:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-name {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    margin-bottom: 8px;
}

.description {
    color: var(--slate-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.job-position {
    text-align: center;
}

.footer-text {
    color: var(--cloud-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: max(264px);

}

.footer_background {
    background-color: var(--navyblue-color);
    padding: 100px 0;



}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-section {
    padding: 96px 0 120px 0
}

.icon-our-strategy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud-color);
    margin-bottom: 8px;
}

.icon-strategy {
    width: 64px;
    height: 64px;
}

.team-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}


.list-customers {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-customers-li {
    width: calc((100% - 120px) / 6);
    height: 88px;
    width: 168px;
}

.link-customers {
    width: 100%;
    height: 100%;
    border: 1px solid var(--lightslate-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--lightslate-color);
    transition: border-color var(--mytransition-duration) var(--mytransition-timing-function), color var(--mytransition-duration) var(--mytransition-timing-function);
}

.link-customers:hover {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}

.link-customers:focus {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}

.customers-svg {
    fill: currentColor;

}

.list-social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-social-media-li {
    width: 40px;
    height: 40px;
}

.social-media-link {
    display: flex;
    gap: 16px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
}

.social-media-link:hover {
    background-color: var(--ocean-color);
}

.social-media-link:focus {
    background-color: var(--ocean-color);
}



.footer-link-social-media {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
}

.footer-link-social-media:hover {
    background-color: var(--green-color);
}

.footer-link-social-media:focus {
    background-color: var(--green-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-p-socialmedia {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-logo-container {
    margin-right: 120px;

}

.footer-social-media-list {
    display: flex;
    gap: 16px;
}

.footer-social-media-li {
    height: 40px;
    width: 40px;
}

.footer-svg {
    fill: var(--cloud-color);
}

.footer-svg:hover {
    fill: var(--green-color);
}

.modal-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 1;
    background: var(--navybluemodal-color, rgba(46, 47, 66, 0.40));
    top: 0;
    left: 0;
    transition: opacity var(--mytransition-duration) var(--mytransition-timing-function), visibility var(--mytransition-duration) var(--mytransition-timing-function);
  
}

.modal-window.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.modal-window-body {
    position: absolute;
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--mytransition-duration) var(--mytransition-timing-function);
    padding: 72px 24px 24px 24px;
}



.button-close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower-color);
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--mytransition-duration) var(--mytransition-timing-function), border var(--mytransition-duration) var(--mytransition-timing-function);

}

.button-close:hover,
.button-close:focus {
    background-color: var(--ocean-color);
    border: none;
    fill: var(--white-color);
}

.svg-close {
    transition: fill var(--mytransition-duration) var(--mytransition-timing-function);

}



.modal-form {
   
    margin-bottom: 8px;
    
}

.modal-form-p {
    color: var(--navyblue-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    text-align: center;
}

.modal-form-label {
    font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        color: var(--lightslate-color);
        margin-bottom: 4px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
}

.modal-icon-input {
    position: relative;
   
}

.modal-form-input {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
}


.modal-form-input:hover,
.modal-form-input:focus {
    border-color: var(--iris-color);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    transition: fill var(--mytransition-duration) var(--mytransition-timing-function);
}

.modal-form-input:hover + .modal-icon,
.modal-form-input:focus + .modal-icon {
    fill: var(--iris-color);
}
.button-send-modal {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: var(--iris-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 24px auto;
    cursor: pointer;
    transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
    
}

.button-send-modal:hover,
.button-send-modal:focus {
    background-color: var(--ocean-color);
}

.textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
}

.textarea:hover,
.textarea:focus {
    border-color: var(--iris-color);
}
.form-textarea {
    margin-bottom: 16px;
}

.modal-comment {
    font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        color: var(--lightslate-color);
        margin-bottom: 4px;
}

.privacy-policy {
    margin-bottom: 24px;
    display: flex;
    
}


.user-privacy-label {
    display: block;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate-color);
    
}

.icon-privacy-policy {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    margin-right: 8px;
}

.privacy-policy-link {
    color: var(--iris-color)
}

.user-privacy-input:checked + .user-privacy-label > span {
background-color: var(--ocean-color);
border: none;
fill: var(--cloud-color);
}

.newsletter-div {
    margin-left: 80px;
}

.newsletter-form {
    display: flex;
    gap: 24px;
}

.newsletter-label {
    
}

.newsletter-input {
    width: 264px;
    height: 40px;
    background-color: var(--navyblue-color);
    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 8px;
    padding-bottom: 8px;  
    padding-left: 16px;
    background-color: transparent;
    color: var(--white-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.newsletter-input::placeholder {
    color: var(--white-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.newsletter-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--iris-color);
    color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    
}

.newsletter-svg {
    width: 24px;
    height: 24px;
    margin-left: 16px;

}