:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --navyblue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --lightslate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navybluemodal-color: #2E2F4266;
    --grey-color: #2E2F42B2;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

    --mytransition-duration: 250ms;
    --mytransition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

/* ================================================= MOBILE ========================================= */




@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .section {
    margin-bottom: 96px;       
        }
    
    .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
                }

    /* HEADER MOBILE */
        
    .header {
    outline: 1px solid var(--cornflower-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
        }
    
    .header-menu {
    display: flex;
    justify-content: space-between;
    
        }
    
    .header-nav {
    display: flex;
    align-items: center;
        }
    
    .logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
    display: inline-block;
        }

    .logo-text-studio {
    color: var(--navyblue-color);
        }
    
   .contact-link {
    color: var(--slate-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
    .contact-link:hover {
    color: var(--ocean-color);
        }
    
    .contact-link:focus {
    color: var(--ocean-color);
        }
    
        .nav-link {
            display: inline-block;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--navyblue-color);
            padding: 24px 0;
        }
    
    
        .nav-link:hover {
            color: var(--ocean-color);
        }
    
        .nav-link:focus {
            color: var(--ocean-color);
        }
    
        .address {
            font-style: normal;
            padding: 24px 0;
        }
    
        .list-menu {
            display: none;
            gap: 40px;
        }
    
        .list-address {
            display: none;
            gap: 40px;
            margin-left: 332px;
        }

    /* SECTION 1 MOBILE */

        .main-section {
        display: flex;
        padding: 112px 0;
        background-color: var(--navyblue-color);
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main/people-office.jpg);
        max-width: 767px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
            }
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/main/people-office@2x.jpg);;
            }
        }

        .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
                 }

        .main-header {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        color: var(--white-color);
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.06em;      
        margin-bottom: 72px;
                 }
        
                
        .order-service-button {
        color: var(--white-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        background-color: var(--iris-color);
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);       
                 }
        
        .order-service-button:hover {
        background-color: var(--ocean-color);
                 }
        
        .order-service-button:focus {
        background-color: var(--ocean-color);
                 }


    /* SECTION 2 MOBILE */

    .icon-our-strategy {
        display: none;
    }

        .list-section-two {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 72px;
            margin-top: 96px;
        }

        .third-headline {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        color: var(--navyblue-color);
        line-height: 1.11;
        letter-spacing: 0.06em;
        margin-bottom: 8px;  
        text-align: center;  
                }
    
        .description {
        color: var(--slate-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
                 }

        /* SECTION 3 MOBILE */
        
        .section-three {
        display: none;
        }
    
        /* SECTION 4 MOBILE */

        .our-team-headline {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--navyblue-color);
        margin-bottom: 72px;
        padding-top: 96px;
                }

        .list-team {
        display: flex;
        flex-direction: column;
        gap: 72px;
        padding-bottom: 96px;
    }

        .background-list {
        display: flex;
        width: 264px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: var(--white-color);
        border-radius: 0px 0px 4px 4px;
        list-style: none;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        }
        
                 
        .background-section {
         background-color: var(--cloud-color);
        }

        .team-name {
        padding: 0px;
        text-align: center;
        max-width: 264px;
        margin: 32px auto;
                 }
        
        .person-name {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        color: var(--navyblue-color);
        line-height: 1.11;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        text-align: center;
                }
        
        .job-position {
        text-align: center;
        font-weight: 400;
        }

        .list-social-media {
            display: flex;
            gap: 24px;
            justify-content: center;
        }

        .list-social-media-li {
            width: 40px;
            height: 40px;
        }

        .social-media-link {
            display: flex;
            gap: 16px;
            margin-top: 8px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: var(--iris-color);
            border-radius: 50%;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
        }

        .social-media-link:hover {
            background-color: var(--ocean-color);
        }

        .social-media-link:focus {
            background-color: var(--ocean-color);
        }

        .team-icon {
        width: 16px;
        height: 16px;
        fill: #f4f4fd;
                }

        /* SECTION 5 MOBILE */

        .customers-headline {
            text-align: center;
            color: var(--navyblue-color);
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;
        }

        .list-customers {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        row-gap: 72px;
                }
        
        .list-customers-li {
        width: calc((100% - 16px) / 2);
        height: 88px;
        width: 190px;
                }
        
        .link-customers {
        width: 100%;
        height: 100%;
        border: 1px solid var(--lightslate-color);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: var(--lightslate-color);
        transition: border-color var(--mytransition-duration) var(--mytransition-timing-function), color var(--mytransition-duration) var(--mytransition-timing-function);
                }
        
        .link-customers:hover {
        border-color: var(--ocean-color);
        color: var(--ocean-color);
                }
        
        .link-customers:focus {
        border-color: var(--ocean-color);
        color: var(--ocean-color);
                }
        
        .customers-svg {
        fill: currentColor;
        width: 110px;
        height: 56px;
                }

        /* FOOTER MOBILE*/

        .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
                }

        .footer-logo-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        }

        .logo-footer {
        display: block;
        text-align: center;
        margin: 0;
                }
        
        
        .logo-textfooter-studio {
        color: var(--cloud-color);
                }

        .footer-text {
        color: var(--cloud-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: max(264px); 
        }
    
        .footer_background {
        background-color: var(--navyblue-color);
        padding: 100px 0;
        }

        .footer-link-social-media {
        width: 100%;
        height: 100%;
        background-color: var(--iris-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
        }

        .footer-link-social-media:hover {
        background-color: var(--green-color);
        }

        .footer-link-social-media:focus {
        background-color: var(--green-color);
        }

        .footer-p-socialmedia {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-color);
        margin-bottom: 16px;
        display: block;
        text-align: center;
         }

        .footer-social-media-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        }

        .footer-social-media-li {
        height: 40px;
        width: 40px;
        }

        .footer-svg {
        fill: var(--cloud-color);
        }

        .footer-svg:hover {
        fill: var(--green-color);
        }

        .newsletter-div {
        margin: 0 auto;
        gap: 16px;
                }
        
        .newsletter-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
                }
        
        .newsletter-label {}
        
        .newsletter-input {
        width: 290px;
        height: 40px;
        background-color: var(--navyblue-color);
        border-radius: 4px;
        border: 1px solid var(--white-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        background-color: transparent;
        color: var(--white-color);
        opacity: 0.3;
                }
        
        .newsletter-input::placeholder {
        color: var(--white-color);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
                }
        
        .newsletter-button {
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 40px;
        border-radius: 4px;
        background-color: var(--iris-color);
        color: var(--white-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border: none;
        cursor: pointer;
                }
        
        .newsletter-svg {
        width: 24px;
        height: 24px;
        margin-left: 16px;
        }

        /* PORTFOLIO MOBILE */

        .portfolio-section {
        padding-left: 16px;
                 }

        .list-button {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        gap: 24px;
        justify-content: start;
        align-items: center;
        padding-top: 48px;
        margin-bottom: 48px;
        }
        
        .button-text {
        color: var(--iris-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--cloud-color);
        padding: 12px 24px;
        border: 1px solid var(--cornflower-color);
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .button-text:hover,
        .button-text:focus {
        color: var(--white-color);
        background-color: var(--ocean-color);
        border: 1px solid transparent;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }

    
        .list-portfolio {  
            display: flex;
            flex-direction: column;
            gap: 48px;
        }

        .list-portfolio-li {
        max-width: 396px;
        }

        .list-portfolio-li:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        }
    
        .link-portfolio {
            display: block;
            transition: box-shadow var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .link-portfolio:hover,
        .link-portfolio:focus {
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);   
        }

        .link-portfolio:hover .pop-up-text {
        transform: translateY(0%);
        }
        
        .link-portfolio:focus .pop-up-text {
        transform: translateY(0%);
        }
        
        .projects {
        padding: 32px 16px;
        border: 1px solid var(--cornflower-color);
        border-top: none;
                 }
    
        .pop-up {
            position: relative;
            overflow: hidden;
            transform: translateY(0%);
        }
    
        .pop-up-text {
            position: absolute;
            top: 0;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--cloud-color);
            background-color: var(--iris-color);
            padding: 40px 32px;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform var(--mytransition-duration) var(--mytransition-timing-function)
        }
    
    
        .project-name {
            font-family: Roboto, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--navyblue-color);
            margin-bottom: 8px;
        }
    
       
/* HAMBURGER MOBILE */

.button-hamburger {
border: none;
background-color: var(--white-color);
        }
        
.menu-hamburger {
display: flex;
margin-top: 24px ;
margin-right: 16px;
margin-bottom: 24px;
        }

.menu-container-a {
overflow-y: auto;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 32px;
background-color: #fff;
z-index: 999;
transform: translateY(100%);
transition: transform 250ms ease-in-out;
            }
        
.menu-container-a.is-open {
transform: translateY(0);
            }

.hamburger-div {
margin: auto;
max-width: 428px;
         }

.hamburger-button-container {
display: flex;
}

.hamburger-close-button {

position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color var(--mytransition-duration) var(--mytransition-timing-function), border var(--mytransition-duration) var(--mytransition-timing-function);
            }

.hamburger-close-button:hover,
.hamburger-close-button:focus {
background-color: var(--ocean-color);
border: none;
}

.hamburger-close-svg {
fill: var(--navyblue-color);
width: 8px;
height: 8px;
         }

.hamburger-close-button:hover>.hamburger-close-svg,
.hamburger-close-button:focus>.hamburger-close-svg {
fill: var(--white-color)
}

.hamburger-navigation {
padding-left: 40px;
padding-top: 80px;
}

.hamburger-nav-list {
display: flex;
flex-direction: column;
gap: 40px;
}

.hamburger-nav-link {
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
color: var(--navyblue-color);
transition: color var(--mytransition-duration) var(--mytransition-timing-function);
}

.hamburger-nav-link:hover,
.hamburger-nav-link:focus {
color: var(--ocean-color);
}

.hamburger-address {
padding-top: 284px;
}

.hamburger-address-list {
display: flex;
flex-direction: column;
gap: 40px;
padding-left: 40px;
}

.hamburger-phone {
color: #4D5AE5;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
text-decoration: none;
}

.hamburger-mail {
color: #434455;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.hamburger-social-media-list {
display: flex;
/* gap: 56px; */
justify-content: space-between;
margin-top: 48px;
margin-bottom: 40px;
margin-left: 40px;
}

.hamburger-social-media-li {
height: 40px;
width: 40px;
}

.hamburger-social-media-link {
width: 100%;
height: 100%;
background-color: var(--iris-color);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
}

.hamburger-social-media-link:hover,
.hamburger-social-media-link:focus {
background-color: var(--ocean-color);
}

.hamburger-svg {
fill: var(--cloud-color);
width: 16px;
height: 16px;
}
     
  
        
              /* MODAL WINDOW MOBILE*/
    
        .modal-window {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            min-width: 100vw;
            opacity: 1;
            background: var(--navybluemodal-color, rgba(46, 47, 66, 0.40));
            top: 0;
            left: 0;
            transition: opacity var(--mytransition-duration) var(--mytransition-timing-function), visibility var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .modal-window.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
    
        }
    
        .modal-window-body {
            position: absolute;
            width: 290px;
            min-height: 584px;
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--dairy-color);
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform var(--mytransition-duration) var(--mytransition-timing-function);
            padding: 72px 24px 24px 24px;
        }
    
    
    
        .button-close {
            cursor: pointer;
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            background-color: var(--cornflower-color);
            padding: 0;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.10);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function), border var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .button-close:hover,
        .button-close:focus {
            background-color: var(--ocean-color);
            border: none;
            fill: var(--white-color);
        }
    
        .svg-close {
            transition: fill var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
       
        .modal-form {
            margin-bottom: 8px;    
        }
    
        .modal-form-p {
            color: var(--navyblue-color);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            text-align: center;
        }
    
        .modal-form-label {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: var(--lightslate-color);
            margin-bottom: 4px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            display: block;
        }
    
        .modal-icon-input {
            position: relative;
    
        }
    
        .modal-form-input {
            width: 100%;
            height: 40px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.40);
    
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
    
        .modal-form-input:hover,
        .modal-form-input:focus {
            border-color: var(--iris-color);
        }
    
        .modal-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 24px;
            transition: fill var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .modal-form-input:hover+.modal-icon,
        .modal-form-input:focus+.modal-icon {
            fill: var(--iris-color);
        }
    
        .button-send-modal {
            display: block;
            min-width: 169px;
            height: 56px;
            background-color: var(--iris-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: var(--white-color);
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin: 24px auto;
            cursor: pointer;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .button-send-modal:hover,
        .button-send-modal:focus {
            background-color: var(--ocean-color);
        }
    
        .textarea {
            width: 100%;
            height: 120px;
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            background-color: transparent;
            outline: transparent;
            resize: none;
            transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .textarea:hover,
        .textarea:focus {
            border-color: var(--iris-color);
        }
    
        .form-textarea {
            margin-bottom: 16px;
        }
    
        .modal-comment {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: var(--lightslate-color);
            margin-bottom: 4px;
        }
    
        .privacy-policy {
            margin-bottom: 24px;
            display: flex;
    
        }
    
    
        .user-privacy-label {
            display: block;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: var(--lightslate-color);
    
        }
    
        .icon-privacy-policy {
            border: 1px solid rgba(46, 47, 66, 0.4);
            width: 16px;
            height: 16px;
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            fill: transparent;
            margin-right: 8px;
        }
    
        .privacy-policy-link {
            color: var(--iris-color)
        }
    
        .user-privacy-input:checked+.user-privacy-label>span {
            background-color: var(--ocean-color);
            border: none;
            fill: var(--cloud-color);
        }
    
    }

@media screen and (min-width: 428px) and (max-width: 767px) {

    .container {
        width: 428px;
    }

    .newsletter-input {
    width: 398px;
        }

    .modal-window-body {
    width: 408px;
}
}


/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {
    
.menu-hamburger {
    display: none;
}

.js-menu-container {
    display: none;
}

        .section {
            margin-bottom: 96px;
        }
    
        .container {
            width: 768px;
            margin: 0 auto;
            padding: 0 15px;
        }
    
        /* HEADER TABLET */
    
        .header {
            outline: 1px solid var(--cornflower-color);
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
        }
    
        .header-menu {
            display: flex; 
        }
    
        .header-nav {
            display: flex;
            align-items: center;
        }
    
        .logo {
            font-family: Raleway, sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--iris-color);
            display: inline-block;
            margin-right: 120px;
        }

        .logo-text-studio {
        color: var(--navyblue-color);
                }
    
        .contact-link {
            color: var(--slate-color);
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.48px;
            transition: color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .contact-link:hover {
            color: var(--ocean-color);
        }
    
        .contact-link:focus {
            color: var(--ocean-color);
        }
    
        .nav-link {
            display: inline-block;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--navyblue-color);
            padding: 24px 0;
        }
    
    
        .nav-link:hover {
            color: var(--ocean-color);
        }
    
        .nav-link:focus {
            color: var(--ocean-color);
        }
    
        .address {
            font-style: normal;
            display: flex;
            align-items: center;
            
        }
    
        .list-menu {
            display: flex;
            gap: 40px;
        }
    
        .list-address {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-left: 121px;  
            align-items: center;                       
        }

        .accent {
        position: relative;
        transition: color var(--mytransition-duration) var(--mytransition-timing-function);
        color: var(--ocean-color);
                }

        .accent::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        width: 100%;
        height: 4px;
        flex-shrink: 0;
        border-radius: 2px;
        background-color: var(--ocean-color);
                }
    
        /* SECTION 1 TABLET */
    
        .main-section {
            display: flex;
            padding: 112px 0;
            background-color: var(--navyblue-color);
            margin: 0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main/people-office.jpg);
            min-width: 768px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/main/people-office@2x.jpg);
                ;
            }
        }
    
        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
           
        }
    
        .main-header {
            font-family: Roboto;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            color: var(--white-color);
            line-height: 60px;
            text-align: center;
            letter-spacing: 1.12px;
            margin-bottom: 36px;
        }
    
    
        .order-service-button {
            color: var(--white-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            background-color: var(--iris-color);
            line-height: 1.5;
            letter-spacing: 0.04em;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            margin: 0 auto;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .order-service-button:hover {
            background-color: var(--ocean-color);
        }
    
        .order-service-button:focus {
            background-color: var(--ocean-color);
        }
    
    
        /* SECTION 2 TABLET */
    
       
       
        .icon-our-strategy {
            display: none;
        }
    
        .list-section-two {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-top: 96px;
            row-gap: 72px;
          
        }

        .list-section-two-li {
            width: calc((100% - 24px) / 2);
        }
    
        .third-headline {
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            color: var(--navyblue-color);
            line-height: 1.11;
            letter-spacing: 0.06em;
            margin-bottom: 8px;
            text-align: start;
        }
    
        .description {
            color: var(--slate-color);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        /* SECTION 3 TABLET */
    
        .section-three {
            display: none;
        }
    
        /* SECTION 4 TABLET*/


        .background-section {
              background-color: var(--cloud-color);
          }

        .our-team-headline {
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            color: var(--navyblue-color);
            margin-bottom: 72px;
            padding-top: 96px;
        }
    
        .list-team {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
            padding-bottom: 96px;
            row-gap: 64px;
        }
    
        .background-list {
            display: flex;
            width: calc((100% - 24px) / 2);
            max-width: 264px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--white-color);
            border-radius: 0px 0px 4px 4px;
            list-style: none;
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);   
            }
    
        .team-name {
            padding: 0px;
            text-align: center;
            max-width: 264px;
            margin: 32px auto;
        }
    
        .person-name {
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            color: var(--navyblue-color);
            line-height: 1.11;
            letter-spacing: 0.4px;
            margin-bottom: 8px;
            text-align: center;
        }
    
        .job-position {
            text-align: center;
            font-weight: 400;
        }
    
        .list-social-media {
            display: flex;
            gap: 24px;
            justify-content: center;
        }
    
        .list-social-media-li {
            width: 40px;
            height: 40px;
        }
    
        .social-media-link {
            display: flex;
            gap: 16px;
            margin-top: 8px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: var(--iris-color);
            border-radius: 50%;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .social-media-link:hover {
            background-color: var(--ocean-color);
        }
    
        .social-media-link:focus {
            background-color: var(--ocean-color);
        }
    
        .team-icon {
            width: 16px;
            height: 16px;
            fill: #f4f4fd;
        }
    
        /* SECTION 5 TABLET */
    
        .customers-headline {
            text-align: center;
            color: var(--navyblue-color);
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;
        }
    
        .list-customers {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;
            row-gap: 72px;
        }
    
        .list-customers-li {
        flex-basis: calc((100% - 48px) / 3);
        height: 88px;
        max-width: 168px;
            
        }
    
        .link-customers {
            width: 100%;
            height: 100%;
            border: 1px solid var(--lightslate-color);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            color: var(--lightslate-color);
            transition: border-color var(--mytransition-duration) var(--mytransition-timing-function), color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .link-customers:hover {
            border-color: var(--ocean-color);
            color: var(--ocean-color);
        }
    
        .link-customers:focus {
            border-color: var(--ocean-color);
            color: var(--ocean-color);
        }
    
        .customers-svg {
            fill: currentColor;
        }
    
        /* FOOTER TABLET */
    
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 72px;
            padding-left: 108px;
        }
    
        .footer-logo-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    
        .logo-footer {
            display: block;
           
            margin: 0;
        }
    
        .logo-textfooter-studio {
            color: var(--cloud-color);
        }
    
        .footer-text {
            color: var(--cloud-color);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            width: max(264px);
        }
    
        .footer_background {
            background-color: var(--navyblue-color);
            padding: 100px 0;
        }
    
        .footer-link-social-media {
            width: 100%;
            height: 100%;
            background-color: var(--iris-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .footer-link-social-media:hover {
            background-color: var(--green-color);
        }
    
        .footer-link-social-media:focus {
            background-color: var(--green-color);
        }
    
        .footer-p-socialmedia {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--white-color);
            margin-bottom: 16px;
            display: block;
            
        }
    
        .footer-social-media-list {
            display: flex;
            justify-content: center;
            gap: 16px;
        }
    
        .footer-social-media-li {
            height: 40px;
            width: 40px;
        }
    
        .footer-svg {
            fill: var(--cloud-color);
        }
    
        .footer-svg:hover {
            fill: var(--green-color);
        }
    
        .newsletter-div {
           
        }
    
        .newsletter-form {
            display: flex;
            gap: 24px;
            align-items: center;
            
        }
    
        .newsletter-label {}
    
        .newsletter-input {
            width: 264px;
            height: 40px;
            background-color: var(--navyblue-color);
            border-radius: 4px;
            border: 1px solid var(--white-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            background-color: transparent;
            color: var(--white-color);
            opacity: 0.3;
        }
    
        .newsletter-input::placeholder {
            color: var(--white-color);
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.04em;
        }
    
        .newsletter-button {
            display: flex;
            padding: 8px 24px;
            justify-content: center;
            align-items: center;
            width: 165px;
            height: 40px;
            border-radius: 4px;
            background-color: var(--iris-color);
            color: var(--white-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            border: none;
            cursor: pointer;
        }
    
        .newsletter-svg {
            width: 24px;
            height: 24px;
            margin-left: 16px;
        }
    
        /* PORTFOLIO TABLET */
    
        .portfolio-section {
            padding-top: 64px;
        }
    
        .list-button {
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: center;
            margin-bottom: 64px;
        }
    
        .button-text {
            color: var(--iris-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            background-color: var(--cloud-color);
            padding: 12px 24px;
            border: 1px solid var(--cornflower-color);
            border-radius: 4px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .button-text:hover,
        .button-text:focus {
            color: var(--white-color);
            background-color: var(--ocean-color);
            border: 1px solid transparent;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    
    
        .list-portfolio {
    
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 72px;
        }
    
        .list-portfolio-li {
            max-width: 356px;
        }
    
        .list-portfolio-li:hover {
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        }
    
        .link-portfolio {
            display: block;
            transition: box-shadow var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .link-portfolio:hover,
        .link-portfolio:focus {
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        }
    
        .link-portfolio:hover .pop-up-text {
            transform: translateY(0%);
        }
    
        .link-portfolio:focus .pop-up-text {
            transform: translateY(0%);
        }
    
        .projects {
            padding: 32px 16px;
            border: 1px solid var(--cornflower-color);
            border-top: none;
        }
    
        .pop-up {
            position: relative;
            overflow: hidden;
            transform: translateY(0%);
        }
    
        .pop-up-text {
            position: absolute;
            top: 0;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--cloud-color);
            background-color: var(--iris-color);
            padding: 40px 32px;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
    
        .project-name {
            font-family: Roboto, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--navyblue-color);
            margin-bottom: 8px;
        }
    
    
        
    
    
    
    
    
        /* MODAL WINDOW TABLET*/
    
        .modal-window {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            min-width: 100vw;
            opacity: 1;
            background: var(--navybluemodal-color, rgba(46, 47, 66, 0.40));
            top: 0;
            left: 0;
            transition: opacity var(--mytransition-duration) var(--mytransition-timing-function), visibility var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .modal-window.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
    
        }
    
        .modal-window-body {
            position: absolute;
            width: 408px;
            min-height: 584px;
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--dairy-color);
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform var(--mytransition-duration) var(--mytransition-timing-function);
            padding: 72px 24px 24px 24px;
        }
    
    
    
        .button-close {
            cursor: pointer;
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            background-color: var(--cornflower-color);
            padding: 0;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.10);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function), border var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .button-close:hover,
        .button-close:focus {
            background-color: var(--ocean-color);
            border: none;
            fill: var(--white-color);
        }
    
        .svg-close {
            transition: fill var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .modal-form {
            margin-bottom: 8px;
        }
    
        .modal-form-p {
            color: var(--navyblue-color);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            text-align: center;
        }
    
        .modal-form-label {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: var(--lightslate-color);
            margin-bottom: 4px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            display: block;
        }
    
        .modal-icon-input {
            position: relative;
    
        }
    
        .modal-form-input {
            width: 100%;
            height: 40px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.40);
    
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
    
        .modal-form-input:hover,
        .modal-form-input:focus {
            border-color: var(--iris-color);
        }
    
        .modal-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 24px;
            transition: fill var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .modal-form-input:hover+.modal-icon,
        .modal-form-input:focus+.modal-icon {
            fill: var(--iris-color);
        }
    
        .button-send-modal {
            display: block;
            min-width: 169px;
            height: 56px;
            background-color: var(--iris-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: var(--white-color);
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin: 24px auto;
            cursor: pointer;
            transition: background-color var(--mytransition-duration) var(--mytransition-timing-function);
    
        }
    
        .button-send-modal:hover,
        .button-send-modal:focus {
            background-color: var(--ocean-color);
        }
    
        .textarea {
            width: 100%;
            height: 120px;
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            background-color: transparent;
            outline: transparent;
            resize: none;
            transition: border-color var(--mytransition-duration) var(--mytransition-timing-function);
        }
    
        .textarea:hover,
        .textarea:focus {
            border-color: var(--iris-color);
        }
    
        .form-textarea {
            margin-bottom: 16px;
        }
    
        .modal-comment {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: var(--lightslate-color);
            margin-bottom: 4px;
        }
    
        .privacy-policy {
            margin-bottom: 24px;
            display: flex;
    
        }
    
    
        .user-privacy-label {
            display: block;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: var(--lightslate-color);
    
        }
    
        .icon-privacy-policy {
            border: 1px solid rgba(46, 47, 66, 0.4);
            width: 16px;
            height: 16px;
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            fill: transparent;
            margin-right: 8px;
        }
    
        .privacy-policy-link {
            color: var(--iris-color);
        }
    
        .user-privacy-input:checked+.user-privacy-label>span {
            background-color: var(--ocean-color);
            border: none;
            fill: var(--cloud-color);
        }
    
        }





/* ================================================= DESKTOP  ========================================= */
@media screen and (min-width: 1158px) {
    

.menu-hamburger {
        display: none;
    }

.js-menu-container {
    display: none;
}

.section {
    margin-bottom: 0px;
    padding: 120px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER DESKTOP */

.logo {
margin-right: 76px;   
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    
}

.list-address {
    flex-direction: row;
    gap: 40px;
    margin-left: 332px;
}

/* SECTION 1 DESKTOP */


.main-section {
    
    padding: 188px 0;
    background-color: var(--navyblue-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main/people-office.jpg);
    max-width: 1440px; 
}

 @media (min-device-pixel-ratio: 2),
 (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .main-section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
             url(../images/main/people-office@2x.jpg);
         ;
     }
 }



.hero {
    display: box;
    align-items: center;
}

.main-header {
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding: 0;
}

/* SECTION 2 DESKTOP */

.icon-our-strategy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud-color);
    margin-bottom: 8px;
}

.icon-strategy {
    width: 64px;
    height: 64px;
}

.list-section-two {
    flex-wrap: nowrap;
    margin-top: 0;
    row-gap: 0;
}

.list-section-two-li {
    width: calc((100% - 72px) / 4);
}

.third-headline {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description {
    font-weight: 400;
   
}

/* section 3 DESKTOP */

.section-three {
    padding-top: 0;
    display: block;
}

.second-headline {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-color);
    margin-bottom: 72px;
}

.list-section-three {
    display: flex;
    gap: 24px;
}

.list-section-three-li {
    width: calc((100% - 48px) / 3);
}

/* SECTION 4 DESKTOP */

.our-team-headline {
    padding-top: 0px;
}

.background-list {
    width: calc((100% - 72px) / 4);
   
}

.list-team {
    padding-bottom: 0px;
   
}

/* SECTION 5 DESKTOP */

.list-customers {
    
    flex-wrap: nowrap;
    row-gap: 0px;
}

.list-customers-li {
    width: calc((100% - 120px) / 6);
    
}


/* FOOTER DESKTOP */

.footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0px;
    row-gap: 0px;
    
}

.footer-logo-container {
    margin-right: 120px;

}

 .logo-footer {
     display: block;
     text-align: start;
     margin: 0;
 }

.newsletter-div {
    margin-left: 80px;
    gap: 0px;
}

.newsletter-form {
    display: flex;
    gap: 24px;
}

.newsletter-input {
    width: 264px; 
}

/* PORTFOLIO DESKTOP */

.portfolio-section {
 padding: 96px 0 120px 0;
}

.list-button {
    margin-bottom: 72px
}

.list-portfolio {
    row-gap: 48px;

}

.list-portfolio-li {
flex-basis: calc((100% - 48px) / 3);
max-width: 360px;
  }

}
